name: Metrics

on:
  schedule:
    - cron: 0 0 * * *
  workflow_dispatch:
  push:
    branches:
      - master
      - main

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: gh-metrics/metrics@master
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          base_indepth: true
          repositories_affiliations: owner, collaborator
          output_condition: data-changed
          config_timezone: Asia/Singapore
          clean_workflows: all

          plugin_achievements: true
          plugin_achievements_display: compact

          plugin_habits: true
          plugin_habits_from: 1000
          plugin_habits_days: 30
          plugin_habits_charts: true

          plugin_isocalendar: true

          plugin_languages: true
          plugin_languages_details: percentage
          plugin_languages_indepth: true
          plugin_languages_analysis_timeout: 60
          plugin_languages_analysis_timeout_repositories: 15
